<div class="simple-comparison">
  <h3>Quick Comparison</h3>
  <table>
    <thead>
      <tr>
        <th>Feature</th>
        <th>Product A</th>
        <th>Product B</th>
        <th>Product C</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Price</td>
        <td>$25</td>
        <td>$40</td>
        <td>$35</td>
      </tr>
      <tr>
        <td>Rating</td>
        <td>4.5/5</td>
        <td>4.3/5</td>
        <td>4.4/5</td>
      </tr>
      <tr>
        <td>Buttons</td>
        <td>6</td>
        <td>8</td>
        <td>6</td>
      </tr>
      <tr>
        <td>Weight</td>
        <td>85g</td>
        <td>82g</td>
        <td>77g</td>
      </tr>
    </tbody>
  </table>
</div>
